*{
	margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #ffffff;
}

.first_head{
	padding: 50px;
}

.first_head > h1{
	font-weight: 700;
	font-size: 250%;
}

.first_head > h3{
	font-weight: 100;
	font-size: 140%;
}

.first_block{
	min-height: 100vh;
	min-width: 100%;
	background-color: #de2b24;
}

.table_block{
	padding-bottom: 8%;
}

.table_row{
	display: table;
}

.text_cell{
	width: 278.3px;
	height: 282.7px;
	background-color: #f35e59;
	margin: -5px;
	display: inline-block;
	vertical-align: middle;
	transition: .2s;
}

.text_cell:hover{
	transition: transform .2s;
	transform: rotate(360deg);
}

.in_text_image{
	position: absolute;
	margin: 75px 123px;
}

.table_text{
	margin: 130px auto;
	color: #ffffff;
}

.table_text > h2{
	font-weight: 500;
	font-size: 170%;
}

.table_text > h4{
	font-weight: 400;
	font-size: 105%;
}


.img_cell{
	width: 278.3px;
	height: 282.7px;
	margin: -5px;
	display: inline-block;
	vertical-align: middle;
	transition: .2s;
}

.img_cell > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img_cell:hover{
	transition: transform .4s;
	transform: scale(1.2);
}

.camera_image{
	object-position: 90% 10%;
}

.second_block{
	min-height: 100vh;
	margin: auto;
	background-color: #1287bf;
}

.second_head{
	padding-top: 5%;
	margin: auto;
}

.second_head > h1{
	font-size: 250%;
}

.second_head > p{
	font-weight: 100;
	font-size: 130%;
}

.circle{
	width: 50px;
	height: 50px;
	margin: 15px auto;
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
}

.arrow{
	border: solid #ffffff;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
	margin-top: 15px;
  	padding: 6px;
	transform: rotate(45deg);
}

.triangle{
	width: 0;
	height: 0;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 30px solid #ffffff;
}

.input_form{
	margin: auto;
	padding-bottom: 148px;
}

.form_body{
	margin: auto;
	width: 800px;
	height: 480px;
	background-color: #ffffff;
}

.cross_body{
	position: absolute;
	width: 35px;
	height: 35px;
	margin-left: 780px;
	margin-top: -19px;
	border-color: #ffffff;
	background-color: #de2b24;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
}

.cross_body::before{
	content: 'x';
	position: absolute;
	font-size: 26px;
	margin: 0 -6px;
	font-weight: 300;
	color: #ffffff;
}

.form_head > p{
	margin: auto;
	width: 660px;
	color: #828282;
	padding-top: 40px;
	font-size: 110%;
}

.input_fields{
	width: 480px;
	height: 350px;
	display: inline-block;
	vertical-align: middle;
	margin: 35px auto;
	color: black;
	font-size: medium;
}

.input_fields > form > input{
	height: 55px;
	width: 100%;
	text-align: left;
	padding-left: 20px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	margin: 10px auto;
	color: black;
	font-size: 16px;
}

.input_fields > form > input:focus{
	box-shadow: 0 0 2px 2px #1287bf;
}

.input_fields > form > input.submit_button{
	background-color: #de2b24;
	color: white;
	border-color: white;
	text-align: center;
	border-radius: 5px;
	padding: 0;
	height: 50px;
	width: 190px;
	margin: 35px auto;
	font-weight: 700;
	font-size: 110%;
}

.third_block{
	min-height: 60vh;
	background-color: #2a2a2a;
}

.third_head{
	text-align: center;
	padding-top: 100px;
	font-weight: 700;
	font-size: 24px;
}

.social_media > img{
	width: 35px;
	height: 35px;
	border-style: solid;
	border-color: #515151;
	border-width: 2px;
	border-radius: 4px;
	object-fit: scale-down;
	margin: 25px 8px;
	padding: 7px;
	transition: .2s;
}

.social_media > img:hover{
	border-color: #de2b24;
	transition: .2s;
}

.social_media > img{
	transition: .2s;
}

.caption > p{
	color: #adadad;
	font-weight: 400;
	font-size: 16px;
}

.subscription_form{
	padding-bottom: 148px;
}

.input_email{
	width: 750px;
	height: 60px;
	background-color: #515151;
	margin: 30px auto;
}

.input_email > form > input{
	width: 700px;
	height: 60px;
	color: #cecece;
	background-color: #515151;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
}

.input_email > form > input.subscribe_button{
	width: 165px;
	height: 60px;
	background-color: transparent;
	text-align: center;
	border-style: solid;
	border-color: #515151;
	border-width: 2px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 20px;
	margin: 30px auto;
	padding: 0;
}

.fourth_block{
	min-height: 63px;
	background-color: #515151;
	text-align: center;
}

.fourth_block > p{
	color: #cecece;
	text-align: center;
	padding-top: 22px;
}
